.mt64 {
    margin-top: 64px;
}

.listItemContainer {
    display: flex;
    background-color: #252030d4;
    padding: 18px;
    color: #FBD2B9
}

.listItemTitle {
    font-size: 20px;
    color: #ff5c57;
}

.loader {
  color: #F48F51;
}

.logo {
    flex-shrink: 0;
    position: relative;
    height: 94px;
    width: 94px;
}

.mainTitle {
    font-weight: 500;
    font-size: 96px;
    line-height: 112px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;

    color: #FFECE0;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.separator {
    font-size: 42px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FBD2B9;
}

.mainDescription {
    font-weight: 300;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.03em;

    color: #FBD2B9;
}

.searchField {
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;

    color: #FBD2B9;
}

.inputSearchField {
    padding: 0;
}

.searchContainer {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: rgb(32 28 41);
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
}

.inputLogoContainer {
    position: relative;
    width: 42px;
    height: 42px;
}

.mainContainer {
    display: flex;
    align-items: center;
    margin-top: 24px;
    column-gap: 12px;
    row-gap: 8px;
}

.searchInputContainer {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    position: relative;
}


@media screen and (max-width: 1200px) {
    .mainContainer {
        flex-direction: column;
    }

    .separator {
        display: none;
    }

    .mainDescription {
        letter-spacing: normal;
        text-align: center;
    }
}

@media screen and (max-width: 820px) {
    .mainContainer {
        flex-direction: column;
        margin-top: 14px;
    }

    .separator {
        display: none;
    }

    .logo {
        height: 40px;
        width: 40px;
    }

    .mainTitle {
        font-size: 32px;
        line-height: normal;
    }

    .mainDescription {
        font-size: 26px;
        line-height: normal;
    }

    .searchInputContainer {
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    .searchField {
        font-size: 16px;
    }

    .inputLogoContainer {
        position: relative;
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 680px) {
    .mainDescription {
        font-size: 20px;
    }

    .subTitle {
    }

    .animeShortDescription {
        display: none;
    }

    .listItemTitle {
        font-size: 16px;
    }

    .listItemContainer {
        padding: 8px;
    }

    .logo {
        display: none;
    }
}